<!DOCTYPE html>
<html>
<head>
	<title>Admin Panel</title>
</head>
<body>
	<form method="post" ></form>
		<h1>Admin Panel!</h1>

		<a href="/user/addemployee">Add Employee</a>
		Employee Name:<input type="text" name="name"><br/>
		Contact No: <input type="text" name="contact"><br/>
		Username: <input type="text" name="username"><br/>
		PassWord: <input type="password" name="name"><br/>
		<input type="submit" name="submit" value="Submit"></td>
		
		<a href="/logout">logout</a>
	</form>

</body>
</html>