<!DOCTYPE html>
<html>
<head>
	<title>Employee</title>
</head>
<body>
    <form method="post" >
        <h1>welcome</h1>

        <a href="/user/addproduct">Add Product</a> 
        Product Name:<input type="text" name="pname"><br/>
        Quantity: <input type="text" name="quantity"><br/>
        Price: <input type="text" name="price"><br/>>
        <input type="submit" name="submit" value="Submit"></td>
        
        <a href="/logout">logout</a>
    </form>
</body>
</html>